body {
  background-color: #C2DAE8;
  max-width: 720px;
  margin: auto;
  font-family: 'Arvo', serif;;
}

.chat-app {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.chat-section {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-grow: 1;
  width: 500px;
  height: 700px;
}

.chat-section ul {
  flex: 1 1 85%;
  -webkit-flex: 1 1 85%;
  border: solid 1px black;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f5f5f5;
}

.chat-section ul li {
  padding: 5px 5px 10px 5px;
}

.chat-section ul li:nth-child(odd) {
  background-color: #e6e6e6;
}

.chat-section ul li:nth-child(even) {
  background-color: #f5f5f5;
}

.chat-controls {
  flex: 1 1;
  -webkit-flex: 1 1;
  display: flex;
}

.chat-controls input {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  font-size: 13px;
}

.chat-controls button {
  width: 75px
}

.chat-controls button:hover {
  background-color: #333333;
  color: #f5efef;
}

.connected-users {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: solid 1px black;
  overflow: auto;
  background-color: #f5f5f5;
  min-width: 100px;

  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.connected-users ul {
  list-style-type: none;
  padding: 2px;
  margin: 0;
}

.connected-users ul li {
  padding: 5px;
}

.connected-users ul li:hover {
  cursor: pointer;
}

.connected-users-section {
  display: flex;
  flex-direction: column;
}

.connected-users-section .title {
  padding-left: 10px;
}

.selected {
  color: #f5efef;
  background-color: #828282;
}

.logout {
  background: -webkit-linear-gradient(top, #00a0d1 0%, #008db8 100%);
  background: linear-gradient(top, #00a0d1 0%, #008db8 100%);
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #095b7e;
  color: #cfebf3;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  margin: 3px;
}

.logout:hover {
  color: #333333;
  background: -webkit-linear-gradient(top, #EEF2F3 0%, #BBC8CC 100%);
  cursor: pointer;
}
